* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 3%;
}
ol {
    display: flex;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: rgb(118, 161, 224);
    text-decoration: none;
}
ol li {
    list-style-type: none;
    margin: auto 15px auto 15px;
}
ol li:nth-child(5) {
    margin-left: auto;
}
.menu {
    background-color: rgb(35, 78, 143);
    height: 60px;
    padding-top: 10px;
    width: 100%;
}
li img {
    width: 40px;
}
h1 {text-align: center; 
    font-weight: 200;
    margin: 20px;
}
.info ul {
    list-style-type: none;
    text-transform: uppercase;
    width: 90%;
    background-color: rgb(161, 218, 245);
    color: rgb(16, 16, 107);
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 15px 15px;
}
.content ul {
    list-style-type: none;
    width: 90%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin: auto;

}
.content ul li:first-child {
    grid-row-start: 1;
    grid-row-end: 4;
}
.content img {
    width: 60%;
}
.content ul li:nth-child(8) {
    grid-row-start: 4;
    grid-row-end: 8;
}
.content ul li:nth-child(10) {
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}
#file {
    display: none;
}